<div class="rssMacro">
    <table>
        #if ($showTitleBar)
        <tr>
            <th>
                #if( $feed.image )
                    #if( $feed.site )<a href="$feed.site">#end
                        <img src="$feed.image.url" border="0" alt="$!channel.image.title" align="left" />
                    #if( $feed.site )</a>#end
                #end
                <a href="$url"><img src="$hostContextPath/images/icons/rss.gif" border="0" height="15" width="27" align="right" /></a>
                ## Encode title
                <a href="$feed.link">$feed.title</a>
                #if ($feed.description)
                    <br />
                    ## Encode descriptions
                    #set ($feedDescriptionHtml = $feed.description)
                    #set ($safeDescription = $descriptionRenderer.render($feed.descriptionEx))
                    #if ($safeDescription != "")
                      <span class="smalltext">($safeDescription)</span>
                    #end
                #end
            </th>
        </tr>
        #end
        #foreach($entry in $feed.entries)
            #if ($max <= 0 || $velocityCount <= $max)
                <tr>
                    <td valign="top">
                        ## Encode title once CONF-8065
                        #if ($entry.link)
                            <b><a href="$entry.link">$entry.title</a></b>
                        #else
                            <b>$entry.title</b>
                        #end

                        #if( $entry.date )
                            <span class="smalltext-blue">(<i>$entry.date</i>)</span>
                        #end
                        #if (!$showTitlesOnly)
                          ## Don't encode the description
                          #if ($entry.description.value)
                            <br />
                            <span class="smalltext">$descriptionRenderer.render($entry.description)</span>
                          #end
                        #end
                    </td>
                </tr>
            #end
        #end
    </table>
</div>
